= simple_form_for @member,wrapper:"horizontal_form",remote:true do |f|
  =f.input :name
  =f.input :cid
  =f.input :sex,collection: Member.sexes,label_method: lambda{|sex| t("activerecord.attributes.member.enums.sex.#{sex[0]}")}
  =f.input :level,collection:Member.levels
  =f.input :blance
  =f.input :phone
  =f.input :remark,as: :text
  .row
    .col-sm-9.col-sm-offset-2
      = f.submit class:"btn btn-primary btn-block btn-sm"
